<div class="conection-wrapper">
  <h1>Mensajes</h1>
  <div class="conection-container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Destinatario</th>
          <th scope="col">Email</th>
          <th scope="col">Nombre</th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @conections.each do |conection| %>




        <tr>
          <td> <%= conection.building%></td>
          <td><%= conection.email %></td>
          <td><%= conection.name %></td>
          <td> <%= link_to 'Ver Mensaje' , conection_path(conection) %></td>
          <% end %>
        </tr>


      </tbody>

    </table>

  </div>

</div>




