<div class="conection-wrapper">
  <h1>Mensajes</h1>
  <div class="conection-container">

   <table class="table table-striped table-hover" >
    <caption>Lista de mensajes</caption>

    <thead>
      <tr>
        <th scope="col">Destinatario</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>



    <tbody>
      <% @conections.each do |conection| %>
     <tr >

       <td> <%= conection.building%></td>
       <td><%= conection.name %></td>

       <td> <%= link_to 'Ver Mensaje' , conection_path(conection), class: '' %>
         <% end %>
       </td>


     </tr>
   </tbody>


 </table>


</div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>



