<%= render 'shared/main_navbar' %>
<div class="new-conection-wrapper">
  <div class="conection-form-container">
   <%= render 'form' %>
 </div>
 <div class="location-wrapper">
   <%= render 'cards/conection_cards' %>
 </div>
</div>
<div class="footer-location-wrapper">
  <div class="location-cards">
   <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_472/v1589461681/San%20patricio/Primario_-_contact_card.png" alt="">
   <h2>Primario</h2>
   <p><strong><i class="fas fa-map-marker-alt"></i> Direccion:</strong>Av. Aconquija 631 - Yerba Buena</p>
   <p><strong><i class="fas fa-phone"></i> Telefono:</strong>0381-4352961</p>
   <p><strong><i class="fas fa-at"></i> Email:</strong> primario@sanpatriciotucuman.edu.ar</p>
 </div>
 <div class="location-cards">
   <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_613/v1589461672/San%20patricio/Secundario_contact_card.png" alt="">
   <h2>Secundario</h2>
   <p><strong><i class="fas fa-map-marker-alt"></i> Direccion:</strong>Moreno y Las Higueritas - Yerba Buena</p>
   <p><strong><i class="fas fa-phone"></i> Telefono:</strong>381-4250708/4256463</p>
   <p><strong><i class="fas fa-at"></i> Email:</strong> secundario@sanpatriciotucuman.edu.ar</p>
 </div>
</div>
