<p>Tienes una nueva mensaje en la pagina web</p>
<p>De: <%= @conection.email %></p>
<p>Nombre: <%= @conection.name %></p>
<p>Mensaje:<br></p>
<p><%= @conection.message %></p>
--------------------------

