<p>Tienes un nuevo mensaje de la pagina web</p>
<p>De: <%= @conection.email %></p>
<p>Asunto: <%= @conection.matter %></p>
<p>Nombre: <%= @conection.name %></p>
<p>Mensaje:<br></p>
<p><%= @conection.message %></p>

--------------------------

