<br><br><br><br>
<div class='text-center'>
  <h2>Pagina no disponible</h2>
  <%= link_to 'Volver', root_path, class: 'btn btn-primary btn-lg'  %>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<h2></h2>
