.banner-articles{
  margin-top: 78px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 35px;
    font-weight: bold;
  }
}
.articles-navbar {
  width: 100%;
  position: sticky;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  padding: 20px;
  border-bottom: 2px solid $red;
  a {
    font-size: 26px;
    color: white;
    margin-left: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}
.articles-main-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 25px;
  padding: 30px 10px;
}
.articles-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 20px;
}
//responsive
@media(max-width: 1025px) {
  .articles-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 5px 0px;
  }
  .articles-main-container {
    padding: 5px 0px;
  }
}

@media(max-width: 900px){
  .banner-articles{
    margin-top: 78px;
    height: 30vh;
  }
  .articles-navbar {
    padding: 15px;

    a {
      font-size: 18px;
      color: white;
      margin-left: 10px;
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      margin-left: 10px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px;
    }
  }
}

@media(max-width: 680px) {
  .articles-navbar {
    padding: 10px;
    a {
      font-size: 11px;
      margin-left: 5px;
    }
    h2 {
      margin-left: 0px;
    }
  }
  .articles-main-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px ;
    grid-gap: 10px;

  }
  .articles-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-top: 1px;
  }
}

@media(max-width: 322px) {
  .articles-navbar {
    padding: 10px;
    a {
      font-size: 10px;
      margin-left: 3px;
    }
    h2 {
      margin-left: 0px;
    }
  }
}
