.article-new-container {
  padding: 50px;
  background-color: white;
  border-radius: 6px;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 2px solid green;
  h2 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
  }
}
