.show-admin-container {
  width: 90%;
  margin: 100px auto;
  margin-bottom: 20px;
  padding: 30px 100px;
  border: 1px solid lightgrey;
  background-color: white;
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
}

.show-articles-wrapper {
  width: 70%;
  margin: 20px auto;
  padding: 10px 50px;
  border-right: 1px solid lightgrey;
  border-left:  1px solid lightgrey;
}
.show-articles-title {
  padding-bottom: 5px;
  border-bottom: 2px solid lightgrey;
  h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: arial;
  }
  h3 {
    font-size: 17px;
  }
}
.show-articles-container {
  h6 {
    padding: 10px 0px;
    color: grey;
    font-size: 14px;
  }
  img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
}
.show-articles-footer {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  margin-top: 50px;
}

.show-gallery-wrapper {
  margin-top: 30px;
  width: 70%;
  margin: 20px auto;
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
  }
}

@media(max-width: 686px) {
  .show-articles-wrapper {
    width: 90%;
    margin: 10px auto;
    border: none;
    padding: 5px;
  }
  .show-gallery-wrapper {
    width: 90%;
    margin: 20px auto;
  }

  .show-articles-container {
    h2 {
      font-size: 25px;
      font-weight: bold;
      font-family: arial;
    }
    h3 {
      font-size: 14px;
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    p {
      font-size: 15px;
    }
  }
}
