.about-container {
  width: 96%;
  margin: 90px auto;
  display: flex;
}
.nav-tab {
 flex: 0 0 30%;
 padding-right: 5px;
}

.nav {
  position: sticky;
  top: 90px;
}


.history-wrapper {
  h2 {
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
  }
}


@media(max-width: 686px) {
  .about-container {
    display: block;
  }
  .nav-tab {
    padding-right: 10px;
  }
  .nav-tab {
    text-align: center;
  }


}
