.about-container {
  width: 90%;
  margin: 90px auto;
  display: flex;
}

.nav-tab {
 position: sticky !important;
 top: 100px;


}

.nav-tab-content {

}


.history-wrapper {
  h2 {
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
  }
}


@media(max-width: 686px) {
  .about-container {
    display: block;
  }
  .nav-tab {
    padding-right: 10px;
  }
  .nav-tab {
    text-align: center;
  }


}
