.about-container {
  width: 96%;
  margin: 90px auto;
  display: flex;
}
.nav-tab {
 flex: 0 0 30%;
 padding-right: 10px;
}
.nav {
  position: sticky;
  top: 90px;
}
.history-container {
  margin-bottom: 300px;

}
.mission-container {
  h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  img {
   width: 100%;
   height: 300px;
   object-fit: cover;
 }
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: $green;
}
.nav-link {
    color: $green;
    font-weight: bold;
    &:hover {
      color: darkgreen;
    }
}

@media(max-width: 686px) {
  .about-container {
    margin: 90px auto;
    display: block;
  }
  .nav-tab {
    padding-right: 0px;
  }
  .nav-tab {
    text-align: center;
  }
  .mission-container {
    h2 {
      text-align: center;
      margin-top: 8px;
      font-size: 20px;
      font-weight: bold;
    }
    img {
      margin-top: 20px;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;

  }
}
