.autoridades-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.autoridades-card {
  text-align: center;

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }

  h3 {
    padding-top: 8px;
    font-weight: bold;
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

.autoridades-top-card {
  width: 600px;
  margin-botton: 24px;
  img {
   width: 100%;
   object-fit: cover;
  }

  h3 {
    padding-top: 8px;
    font-size: 15px;
    font-weight: bold;
  }

  p {
    margin-top: 4px;
    text-align: center;

  }
}


@media (max-width: 991.98px) {
  .autoridades-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .autoridades-top-card {
    width: 100%;
    margin-botton: 24px;
    img {
      width: 100%;
      object-fit: cover;
    }

    h3 {
      padding-top: 8px;
      font-size: 15px;
      font-weight: bold;
    }

    p {
      margin-top: 4px;
      text-align: center;

    }
  }
}

@media(max-width: 686px) {
  .autoridades-container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .autoridades-top-card {
    width: 90%;
    margin-botton: 0px;

    h3 {
      padding-top: 8px;
      font-size: 14px;
    }

    p {
      margin-top: 4px;
      text-align: center;
    }
  }
}
