// Specific CSS for your home-page
.ib-container {
  width: 100%;
  background-color: green;
  height: 70vh;
}

.event-container {
  width: 100%;
  background-color: white;
  height: 70vh;
}

.article-button {
  padding:60px;
  text-align: center;
}


