// Specific CSS for your home-page
.image-container-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 30px;
  grid-gap: 2px;
  img {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
}
.home-container {
  width: 100%;

  h2 {
    font-size: 48px;
  }

  h4 {
    font-size: 24px;
  }
  h5 {
    background-color: white;
    border-bottom: 2px solid $green;
    font-size: 20px;
    text-align: left;
    padding: 8px;
    color: $green;
    width: 90%;
    margin: 0 auto;
  }
}

#main-text-homepage {
  line-height: 1.8;
}
//Ib section
.ib-container-1 {
  width: 100%;
}

.articles-wrapper {
  padding: 0 40px;
}


@media (max-width: 991.98px) {
  .image-container-homepage {
    img {
      height: 200px;
    }
  }
}

@media(max-width: 686px) {
  .home-container {
    h3 {
      font-size: 24px;
      padding: 12px;
    }
    h5 {
      font-size: 16px;
      text-align: center;
    }

    h2 {
      font-size: 32px;
    }


    h4 {
      font-size: 18px;
    }
  }

  .image-container-homepage {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
  }

  #main-text-homepage {
    line-height: 1.8;
    font-size: 13px;
  }
}
