.video-container {
  margin-top: -20px;
  margin-bottom: 0px;
  video {
    width: 100%;
  }
}
.video-title {
  text-align: center;
  padding: 0px 20px;
  h1 {
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 3px;
    margin-top: -5px;
    text-decoration: underline;
  }
  p {
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.ib-cards {
  padding: 32px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.ib-wrapper {
  width: 96%;
  margin: 0px auto;
  display: flex;
}

.ib-container {
  padding: 10px;
  margin-bottom: 50px;

  h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 600px;
  }
}

@media(max-width: 686px) {
  .video-container {
    margin-top: 80px;
    margin-bottom: 0px;
    video {
      display: none;
    }
  }
  .video-title {
    padding: 5px 10px;
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 12px;
    }
  }

  .ib-cards {
  padding: 32px 0px;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
  .ib-wrapper {
    display: block;
  }
  .ib-container {
    h2 {
      margin-top: 14px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    img {
      margin-top: 20px;
      width: 100%;
      object-fit: cover;
      height: 370px;
    }
    p {
      font-size: 12px;
    }
    li {
      font-size: 12px;
    }
  }
}
