#carouselNiveles {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselPrimario {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselSecundario {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}
//Clases de experiencia educativa

#carouselBicicle {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselTalleres {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselSemana {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselObras {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselSalidas {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselBooks {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselClases {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}

#carouselColors {
  .carousel-inner {
    width: 600px;
    img {
      height: 350px;
    }
  }
}


@media(max-width: 900px) {
  #carouselNiveles {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselPrimario {
    margin-top: 80px;
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselSecundario {
    margin-top: 80px;
    .carousel-inner {
      width: 100%;
    }
  }
  //Clases de experiencia educativa
  #carouselBicicle {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselTalleres {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselSemana {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselObras {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselSalidas {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselBooks {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselClases {
    .carousel-inner {
      width: 100%;
    }
  }

  #carouselColors {
    .carousel-inner {
      width: 100%;
    }
  }
}
