<br><br><br>
<h1>welcome to news index</h1>

<div class="container">
  <% @articles.each do |article| %>
  <%= render 'shared/cards', article: article %>
  <% end %>
</div>



<%= link_to 'create article', new_article_path  %>
