<div class="mission-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585239752/portada_san_patricio.jpg" alt="">
  <h2>AUTORIDADES</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus quasi ratione reiciendis neque deleniti aperiam sequi architecto harum illo officiis dolor tenetur magnam, aliquid rem ex aut porro eveniet! <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, excepturi reprehenderit sapiente quas, quasi aperiam vitae sed, doloremque rerum magni ratione! Nisi, at asperiores incidunt blanditiis architecto. Eveniet quia, magnam. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus quasi ratione reiciendis neque deleniti aperiam sequi architecto harum illo officiis dolor tenetur magnam, aliquid rem ex aut porro eveniet! <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, excepturi reprehenderit sapiente quas, quasi aperiam vitae sed, doloremque rerum magni ratione! Nisi, at asperiores incidunt blanditiis architecto. Eveniet quia, magnam. </p>
</div>
