<div class="mission-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1317/v1589459656/San%20patricio/IMG_3862-01.jpg" alt="">

  <h2>AUTORIDADES</h2>
  <div class="autoridades-title">
    <h3>Nivel Inicial</h3>
    <p><strong>Directora:</strong> Alejanda María Poliche</p>
  </div>
  <div class="autoridades-title">
    <h3>Nivel Primario</h3>
    <p><strong>Directora:</strong> Analía Aru</p>
  </div>
  <div class="autoridades-title">
    <h3>Nivel Secundario</h3>
    <p><strong>Rector:</strong> Tomás Nores</p>
    <p><strong>Vice-Rectora:</strong> Filomena Fortino de Araoz</p>
  </div>
</div>
