<div class="mission-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1254/v1589467219/San%20patricio/secundario_estrucura_3.jpg" alt="">
  <h2>EGRESADOS</h2>
  <p>El Colegio San Patricio está buscando desde hace unos años la creación de un centro de ex alumnos, que tenga objetivos claros y que reuna bajo un mismo paraguas a todos aquellos que cumplan esa sóla condición.<br>Los objetivos del Centro de Ex-alumnos, deberán ser:</p>
  <ol>
   <li>Reunir a los Ex-Alumnos del Colegio San Patricio, estimulando el sentimiento de pertenencia a la Institución con el objetivo de contribuir a su prestigio y liderazgo.</li>
   <li>Propender a la más estrecha cohesión entre todos nuestros ex-alumnos, estimulándolos a estrechar vínculos fraternales de amistad, camaradería y ayuda mutua.</li>
   <li>Propiciar actividades culturales y recreativas.</li>
   <li>Propiciar charlas de orientación sobre carreras profesionales y comportamientos individuales que demanda el mercado laboral</li>
   <li>Promover reuniones sociales que permitan conocerse ampliando los vínculos de amistad y compañerismo entre ex-alumnos de distintas promociones.</li>
   <li>Propender a la colaboración material, de asistencia social y espiritual entre los asociados y con todos los ex-alumnos que la requieran.</li>
   <li>Instrumentar y desarrollar sistemas educativos de formación universitaria o de nivel terciario que contribuyan al desarrollo educativo, artístico, social o científico.</li>
   <li>Despedir a los nuevos egresados dándoles la bienvenida a la categoría de asociados activos de la asociación.</li>
 </ol>
</div>



<style>

</style>
