<div class="mission-container">
  <img src="https://images.unsplash.com/photo-1580974852861-c381510bc98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" class="d-block w-100" alt="...">
  <div class="history-container">
    <h2>HISTORIA</h2>
    <p>El Colegio San Patricio fue fundado en el año 1976 por un grupo de cinco profesoras. Ellas son: <strong>Laura Saitzew de Verdaguer, Leonor Alzabé, María Luisa Carreras de Orloff Thompsen, María Beatriz Retondo de Delacroix, Mercedes Lía Silvetti de Medina</strong> . Está situado en la ciudad de Yerba Buena, provincia de Tucumán, ciudad con altísimo índice de crecimiento poblacional y donde se dan contrastes sociales extremos.<br><br>Cada nivel tiene un edificio propio. Los niveles inicial y primario funcionan en la misma calle, acera de por medio. El edificio del secundario se encuentra a 2,5 km de los anteriores, en un espacio verde de 4 has. El colegio se encuadra dentro de los colegios no confesionales, aunque acredita un acervo tradicional católico. Es mixto, bilingüe, de doble escolaridad, con una población escolar en los niveles Inicial, Primaria y Secundaria de 1105 alumnos. En él trabajan 177 docentes incluyendo las categorías especiales.<br><br>Es pluralista en varios aspectos: racial, religioso, social, etc. Abierto al diálogo y la comprensión global, ya que es un colegio miembro de “ Organización del Bachillerato Internacional".</p>
  </div>
</div>
