<div class="mission-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585156076/44267120_1919928638053275_7998990119052771328_o.jpg" alt="">
  <h2>MISION</h2>
  <p>El Colegio San patricio es una institución educativa pública de gestión privada, para ello, adopta para su funcionamiento las normas generales emanadas de la autoridad educativa competente. <br> Los fines de la institución se orientan hacia el logro de la educación integral de la persona humana dentro de una concepción cristiana de la vida. Se concibe a la educación como el medio más eficaz en el logro de una escala de valores orientados hacia fines mas trascendentes. <br>El proceso educativo debe afianzar y desarrollar con sentido responsable la libertad como condición original del hombre… “ la libertad profunda, mas que referirse al hacer, se refiere al definirse y disponer el hombre sobre si mismo…” (G.S. 17EPV 39).</p>
  <h2>LA MISION DEL PROGRAMA DE INGLES</h2>
  <p>La comprensión íntima y profunda de nuestra propia identidad, de la interdependencia entre las comunidades del planeta y el manejo de la lengua inglesa como medio de llegar a apreciar las diferencias se han vuelto esenciales para la educación integral del ciudadano del mundo. <br>La misión del programa de inglés del colegio es promover a través del estudio de esta lengua:</p>
  <ul>
    <li>
    La exploración y valoración de capacidades propias que llevan al fortalecimiento de la autoestima. </li>
    <li>La comprensión de nuestra perspectiva del mundo que hace a nuestra propia identidad.</li>
    <li>La concientización de la interdependencia humana universal, expresada a través de una apreciación de perspectiva multiculturales y del desarrollo de una comprensión global de las relaciones económicas, culturales y éticas existentes entre todas las sociedades del planeta y en su conjunto de su relación con el medio ambiente. Como consecuencia, buscamos promover en nuestros estudiantes el respeto, la aceptación y celebración de las diferencias que hacen a la identidad y culturas de otros grupos étnicos, sociales, económicos, religiosos y culturales.
    La exploración de los valores humanos universales a través de la literatura en la lengua inglesa.</li>
    <li>La capacitación del estudiante para insertarse con una visión amplia y global en su comunidad y se transforme en agente de cambio para mejorar su entorno</li>
  </ul>
</div>

