<div class="mission-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585229626/casa_historica_secundario.jpg" alt="">
  <h2>QUIENES SOMOS?</h2>
  <p>El Colegio San Patricio es una institución educativa pública de gestión privada, para ello, adopta para su funcionamiento las normas generales emanadas de la autoridad educativa comptetente.<br>Los fines de la institución se orientan hacia el logro de la educación integral de la persona humana dentro de una concepción cristiana de la vida. Se concibe a la educación como el medio más eficaz en el logro de una escala de valores orientados hacia fines trascendentes.<br>El proceso educativo debe afianzar y desarrollar con sentido responsable la libertad como condición original del hombre... "La libertad profunda, más que referirse al hacer, se refiere al definirse y disponer el hombre sobre sí mismo..."</p>
  <h2>OBJETIVOS</h2>
  <p>Nuestra institución privilegia papa sus objetivos generales la consecución de cinco valores. A partir de estos cinco pilares fundamentales se organiza la vida institucional y la participación de sus miembros para alcanzar lo que se propone: </p>
  <ul>
    <li>Posibilitar el desarrollo de una persona equilibrada.</li>
    <li>Brindar oportunidades para pensar y obrar con criterios personales basados en valores éticos y religiosos, privilegiando la libertad, la responsabilidad, la justicia, la fortaleza y la solidaridad.</li>
    <li> Contribuir a la formación de actitudes de participación social y comunitaria, con sentido crítico para generar cambios orientados hacia el bien común.</li>
    <li>Proporcionar una sólida formación científica y humanística que permita al egresado participar activa, reflexiva y críticamente en los diversos ámbitos de la vida social.</li>
    <li>Contribuir en la inserción del egresado como ciudadano consciente de los derechos y deberes de las personas, comprometido con la realidad nacional y con apertura a la comprensión de la cultura global.</li>
    <li>Proporcionar las oportunidades para el aprendizaje de una segunda lengua (inglés) como medio de comunicación de la cultura internacional.</li>
  </ul>
  <h2>PERFIL DEL EGRESADO</h2>
  <ol>
    <li>Pensar y actuar en la vida de acuerdo con principios orientados hacia fines trascendentes</li>
    <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios democráticos.</li>
    <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios Pensar y comunicarse adecuadamente utilizando los sistemas de lenguaje oral, escrito, matemático, corporal y artístico.</li>
    <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios Utilizar con responsabilidad los medios que la tecnología pone a su alcance.</li>
    <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios Adquirir, integrar y aplicar conocimientos provenientes de los distintos campos del saber.</li>
    <li>Integrarse activamente a la sociedad como productor responsable, respetando al prójimo y actuando con principios Contribuir activamente a la transformación del medio social y cultural, aceptando la diversidad y aportando su potencial para que la vida sea mas humana.</li>
  </ol>
</div>
