<h2 class="title-green"> Notificaciones</h2>
<div class="card-categories-wrapper">
  <% @categories.each do |category| %>
  <%= link_to category_path(category) do  %>
  <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= category.photo %>)">
    <h2><%= category.title %></h2>
  </div>
  <% end %>
  <% end %>
</div>
<div class="text-center m-5">
  <%= link_to 'TODAS', posts_path, class: 'btn-article'  %>
</div>
<h2 class="title-green">Noticias</h2>

