<h2 class="title-green"> Notificaciones</h2>
<div class="card-categories-wrapper">
  <% @categories.each do |category| %>
  <%= link_to category_path(category) do  %>
  <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= category.photo %>)">
    <h2><%= category.title %></h2>
  </div>
  <% end %>
  <% end %>
</div>
<div class="text-center m-5">
  <%= link_to 'TODAS', posts_path, class: 'btn-article'  %>
</div>
<h2 class="title-green"> Otra cosa</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nulla, similique recusandae veniam minus. Asperiores explicabo, eveniet magnam modi rerum blanditiis velit cupiditate quasi consectetur iusto atque quo in optio?</span>
<span>Odio blanditiis repellat a rerum tenetur reiciendis quisquam, ex eius earum quidem unde iste libero, nulla consequuntur id corrupti omnis, expedita tempore aliquam voluptatibus. Dolor temporibus natus eos doloribus veniam!</span>
<span>Facere consequuntur rem impedit labore ipsa et voluptas error eos corporis temporibus excepturi enim modi, voluptates doloremque! Dolorem sequi officia repudiandae quod labore et iure. Aliquam distinctio excepturi soluta fugiat.</span>
<span>Aliquid doloremque, esse magnam! Provident eum, quia esse neque quam eos temporibus vero nobis laudantium quasi nulla cupiditate praesentium explicabo hic ipsa ratione minima et deleniti sapiente, odit odio sunt.</span>
<span>Labore dolore commodi, explicabo ut maiores doloribus laudantium distinctio ea illo minus consectetur praesentium voluptatum aut, tempore harum dolores esse, recusandae ipsam qui voluptatibus. Magnam ex eius, aperiam quasi itaque.</span>
<span>Rem aperiam cumque reiciendis earum iusto, corporis ea dicta quaerat nobis fuga, nam labore neque saepe et facilis alias dignissimos! Tenetur perferendis voluptatem ullam consequuntur quam, modi beatae? Deleniti, aspernatur.</span>
<span>Dolorem laboriosam animi aut eaque itaque aperiam amet a vitae labore obcaecati nisi autem vel sint, fugiat dolore minima architecto excepturi, quis voluptas? Pariatur incidunt animi, tempore perferendis, libero reiciendis!</span>
<span>Omnis, rem ad itaque, voluptates porro ratione sequi cupiditate perspiciatis, quis facere, necessitatibus laborum fuga soluta natus. Delectus rerum blanditiis, maxime eaque dicta error. Quos, vitae dolore dolorem totam aliquid?</span>
<span>Veritatis aut sapiente vel repellat maxime, itaque eveniet maiores repudiandae accusamus aperiam eius ab accusantium tenetur perferendis. Impedit eveniet, inventore eos, vitae harum neque laboriosam nam optio ipsam, sit voluptates.</span>
<span>Accusantium sapiente fuga, consequuntur nemo quas neque? Nobis mollitia assumenda laudantium ipsa eos distinctio temporibus deleniti, numquam, ea, cum fugit reiciendis nisi blanditiis ut repellendus obcaecati neque. Aliquid, molestias aliquam?</span>
<span>Facilis itaque iure cupiditate dolorum, reiciendis aperiam ullam ab. Facilis unde fugiat, possimus perferendis molestiae, quaerat hic quos non animi quasi laborum, debitis accusamus! Cum recusandae aliquid qui officia facere.</span>
<span>Reprehenderit ad ut dolorem quam sunt nihil molestias nesciunt animi quisquam distinctio, autem, nobis omnis cum vero, laborum placeat ab minus? Alias nam ipsam necessitatibus doloribus quam voluptatem eos consequuntur.</span>
<span>Fuga sed nobis, delectus, reprehenderit quasi beatae aut consequatur fugiat temporibus laudantium quam inventore. Eligendi, vel incidunt voluptate rem, beatae illum a mollitia fugiat est autem laborum asperiores. Repellendus, molestias!</span>
<span>Corporis nam impedit aspernatur voluptatibus nulla quisquam quae, natus eligendi rem, recusandae quam nisi quibusdam rerum ullam officiis cupiditate. Dolores explicabo ut neque aperiam ex magnam dolore ratione modi odio.</span>
<span>Deserunt qui et, ducimus nesciunt sed facere exercitationem quas laborum laboriosam quae magni facilis at aperiam ipsa praesentium nihil, fuga, sequi numquam eligendi? Sed atque magnam voluptate id harum, a.</span>
<span>Illo ipsum eligendi maiores expedita officiis, numquam, explicabo fuga nesciunt quo aspernatur, a est? Repellat excepturi voluptas, fuga aperiam distinctio numquam maxime, atque, ducimus repellendus repudiandae quaerat ex obcaecati reprehenderit.</span>
<span>Fugit expedita, quidem sit eveniet nobis maxime architecto veniam quo totam iste est quis magnam deserunt facere, fugiat iusto molestias incidunt consequuntur suscipit minima quasi autem quos! Fugit, vitae, cum?</span>
<span>Velit, unde culpa nemo, quos natus excepturi, quas laudantium, fuga cumque eligendi accusamus. Aliquid fugit, minus, non sint, sequi dignissimos officia ut saepe quidem deleniti doloremque! Consequatur, accusantium ab nemo!</span>
<span>Consequuntur optio inventore eveniet quam, cupiditate totam placeat, neque animi, quibusdam quaerat molestiae, sequi delectus voluptatem asperiores sapiente quod corporis quo iusto corrupti obcaecati libero blanditiis facilis itaque a! Modi.</span>
<span>Neque esse deleniti assumenda laudantium impedit deserunt illo animi suscipit, voluptas dolore labore expedita, molestiae maxime. Sed rem aperiam repudiandae suscipit, amet voluptatum nisi modi, ad magnam harum, eum perferendis?</span></p>



