.conection-show-container {
  width: 70%;
  margin: 100px auto;
  border: 2px solid lightgrey;
  padding: 20px;
  h2 {
    font-size: 40px;
    background-color: $green;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    color: black;
  }

  h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 4px;
  }
  p {
    padding: 10px 10px;
    border: 1px solid lightgrey;
    background-color: white;
    height: 300px;
    overflow: scroll;
    margin-bottom: 30px;
  }
}

@media(max-width: 686px){
  .conection-show-container {
    width: 90%;
    margin: 100px auto;
    border: 2px solid lightgrey;
    padding: 20px;
    h2 {
      padding: 5px 10px;
      font-size: 30px;
    }
    h3 {
      font-size: 16px
    }

    h4 {
      font-size: 16px;
    }
    p {
     font-size:14px;
   }
 }
}
