<div class="home-container">
  <div class="py-5 my-md-5 text-center">
    <h2 class="font-weight-bold">Novedades</h2>
    <h4>Las últimas noticias del colegio</h4>
  </div>
  <div class="article-container">
    <% @articles.take(6).each do |article| %>
    <%= render 'cards/article_card', article: article %>
    <% end %>
  </div>
  <div class="article-button">
    <%= link_to 'MAS NOTICIAS', articles_path, class: "btn-article"  %>
  </div>
</div>
