<% if notice %>
<div class="alert alert-dark text-center" role="alert">
  <%= notice %>  <a href="" class="alert-link">X</a>
</div>
<% end %>
<% if alert %>

<div class="guillo" role="alert">
  <%= alert %> <a href="" class="alert-link">X</a>
</div>
<% end %>




