<div class="footer">
  <div class="footer-content">
    <p><%= link_to 'Direcciones & Telefono', "#" %></p>
    <p><a href="http://sanpatricio.suronline.net" target="_blank">Campus Virtual</a></p>
    <% if user_signed_in? %>
    <p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
    <% else %>
    <p><%= link_to "Login", new_user_session_path %></p>
    <% end %>
  </div>
  <h3>  Copyright © Colegio San Patricio. Todos los derechos reservados</h3>
  <p>Made by <%= link_to 'GV-WEB', 'https://gwwebsite.herokuapp.com', target: "blank" %></p>
</div>


