<div class="footer pb-3">
  <div class="pt-5 pb-4 d-xl-flex justify-content-between container border-bottom  text-xl-left">
    <div class="d-flex justify-content-center pb-3">
      <div>
        <h4 class="text-center py-2">Administración</h4>
        <p><i class="fas fa-map-marker-alt"></i>Las Acacias 82 - Yerba Buena</p>
        <p><i class="fas fa-phone" style="font-size: 16px;"></i>Telefono: 0381-4353969</p>
      </div>
    </div>
    <div class="d-flex justify-content-center pb-3">
      <div>
        <h4 class="text-center py-2">Jardines</h4>
        <p><i class="fas fa-map-marker-alt"></i>M. Maciel 70 - Yerba Buena</p>
        <p><i class="fas fa-phone" style="font-size: 16px;"></i>Telefono: 0381-4874150</p>
      </div>
    </div>
    <div class="d-flex justify-content-center pb-3">
      <div>
        <h4 class="text-center py-2">Primario</h4>
        <p><i class="fas fa-map-marker-alt"></i>Av. Aconquija 631 - Yerba Buena</p>
        <p><i class="fas fa-phone" style="font-size: 16px;"></i>Telefono: 0381-230291</p>
      </div>
    </div>
    <div class="d-flex justify-content-center pb-3">
      <div>
        <h4 class="text-center py-2">Secundario</h4>
        <p><i class="fas fa-map-marker-alt"></i>Moreno y Las Higueritas - Yerba Buena</p>
        <p><i class="fas fa-phone" style="font-size: 16px;"></i>Telefono: 381-4250708/ 4356463</p>
      </div>
    </div>
  </div>
  <div class="footer-content py-3 text-center">
    <p><%= link_to 'Direcciones & Teléfono', new_conection_path %></p>
    <p><a href="#">Campus Virtual</a></p>
    <p><%= link_to 'Documentos', documents_path %></p>
  </div>
  <div class="text-center">
    <img style="width: 40px; height: 40px; margin-left: 10px;" src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1590350831/CUd3c3FoD3BcC7J1DtVQTfra.png" alt="">
    <h3 class="pb-3 pt-1">© 2021 Colegio San Patricio</h3>
    <h3>Made by <%= link_to 'GV', 'http://www.guillermo-varela.com/', target: "blank" %></h3>
  </div>
</div>
