<div class="ib-container-1">
  <div class="banner-ib" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1543/v1589460025/San%20patricio/Captura_de_Pantalla_2020-05-14_a_la_s_09.31.05.png);">
    <div class=banner-container-ib>
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584881920/ib-world-school-logo-1-colour-rev.png" alt="">
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <%= link_to 'Conoce mas', ib_path, class: "btn-ib" %>
    </div>
  </div>
</div>
