<div class="social">
  <div class="hovereffect">
    <img class="img-responsive" src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1442/v1589463332/IMG_3959-01.jpg" alt="">
    <div class="overlay">
      <h2>Redes Sociales</h2>
      <p class="icon-links">
        <a href="https://twitter.com/ib_sanpatricio" target='_blank'>
          <span class="fab fa-twitter"></span>
        </a>
        <a href="https://www.facebook.com/sanpatriciotucuman/" target='_blank'>
          <span class="fab fa-facebook"></span>
        </a>
        <a href="https://www.instagram.com/sanpatriciotucuman/" target='_blank'>
          <span class="fab fa-instagram"></span>
        </a>
      </p>
    </div>
  </div>
</div>
