<div class="social">
  <div class="hovereffect">
    <img class="img-responsive" src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585156046/61489059_2240313456014790_473916157548560384_n.jpg" alt="">
    <div class="overlay">
      <h2>Redes Sociales</h2>
      <p class="icon-links">
        <a href="#">
          <span class="fab fa-twitter"></span>
        </a>
        <a href="#">
          <span class="fab fa-facebook"></span>
        </a>
        <a href="#">
          <span class="fab fa-instagram"></span>
        </a>
      </p>
    </div>
  </div>
</div>
