<div class="home-container">
  <div class="pt-5 pb-3 pb-md-1 my-md-5 text-center">
    <h2 class="font-weight-bold text-body">Redes Sociales</h2>
    <h4>Visita nuestras redes</h4>
  </div>
</div>
<div class="banner-social d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1442/v1589463332/IMG_3959-01.jpg);">
  <div class="d-flex">
    <a href="https://twitter.com/ib_sanpatricio" target='_blank'>
      <span class="fab fa-twitter"></span>
    </a>
    <a href="https://www.facebook.com/sanpatriciotucuman/" target='_blank'>
      <span class="fab fa-facebook"></span>
    </a>
    <a href="https://www.instagram.com/sanpatriciotucuman/" target='_blank'>
      <span class="fab fa-instagram"></span>
    </a>
  </div>
</div>
