<div class="social">
  <div class="hovereffect">
    <img class="img-responsive" src="https://images.unsplash.com/photo-1547653872-052e3539decc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    <div class="overlay">
      <h2>Redes Sociales</h2>
      <p class="icon-links">
        <a href="#">
          <span class="fab fa-twitter"></span>
        </a>
        <a href="#">
          <span class="fab fa-facebook"></span>
        </a>
        <a href="#">
          <span class="fab fa-instagram"></span>
        </a>
      </p>
    </div>
  </div>
</div>
