<div class="top-wrapper">
  <div>
    <%= link_to documents_path do %>
    <p class="btn-top mb-0"><i class="fas fa-download"></i> Documentos</p>
    <% end %>
  </div>
  <div class="links-top">
    <a href="https://www.facebook.com/sanpatriciotucuman/" target='_blank'>
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/sanpatriciotucuman/" target='_blank'>
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://twitter.com/ib_sanpatricio" target='_blank'>
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>
