<div class="top">
  <div>
    <%= link_to 'Aula virtual', '#' %>
  </div>
  <div class="links-top">
    <a href="https://www.facebook.com/sanpatriciotucuman/" target='_blank'>
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/sanpatriciotucuman/" target='_blank'>
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://twitter.com/ib_sanpatricio" target='_blank'>
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>

<style>
  .top {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    background-color: $green;
  }
  .links-top a {
    text-decoration: none;
  }
  .links-top i {
   margin: 0px;
   color: white;
   font-size: 26px;
   margin-left: 10px;
  }
</style>
