#document-card {
  a {
    text-decoration: none;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
  }
}

@media(max-width: 575px) {
  #document-card {

  p {
    font-size: 12px;
  }

  h2 {
    font-size: 24px;
  }
}
}
