<%= render 'shared/main_navbar' %>
<div class="event-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1585161507/13483383_1073075972738550_5614390916278140258_o.jpg);">
  <h1>CALENDARIO</h1>
</div>
<div class="event_navbar">
  <h2>PROXIMOS EVENTOS <i class="fas fa-caret-down"></i></h2>
</div>
<div class="wrapper-event">
  <% @events.last(10).each do |event| %>
  <%= render 'shared/event-cards', event: event %>
  <% end %>
</div>







