<%= render 'shared/main_navbar' %>
<br> <br><br><br>
<div class="show-event-container">
  <div class="show-event-img">
    <img src="<%= @event.photo %>" alt="">
  </div>
  <div class="show-event-container">
    <h2><%= @event.title %></h2>
  </div>
</div>
<div class="show-event-container">
  <div class="show event-img">

  </div>
  <div class="show-event-container">
    <h2><%= @event.title %></h2>
  </div>
</div>
