
    <p>Becoming an IB World School means joining over 5,000 schools worldwide in delivering IB programmes, and becoming part of a community of educators that is growing and developing constantly. The IB’s unique implementation is strengthened through our relationships with schools, governments and international organizations globally.</p>

<!-- ingles colegio   -->
    <div>
      <h2>Benefits for schools</h2>
      <p>The International Baccalaureate® (IB) offers significant benefits to schools.<br>If you are an IB World School, you have access to:</p>
      <ul>
        <li>High quality programmes of education, which support development of knowledgeable and inquiring students</li>
        <li>Professional development that supports effective educators and collaborative professional learning communities</li>
        <li> A worldwide network of highly respected IB World Schools, working together to share best practice.</li>
      </ul>
      <p>Research indicates that Diploma Programme (DP) graduates complete college faster than their peers, feel more prepared for college-level coursework involving research, and are better able to cope with demanding workloads and time-management challenges.</p>
    </div>
    <div class="ingles">
        <h2>Benefits for students</h2>
        <p>Students at International Baccalaureate® (IB) World Schools are given a unique education.<br>They will:</p>
        <ul>
          <li>be encouraged to think independently and drive their own learning</li>
          <li>take part in programmes of education that can lead them to some of the highest ranking universities around the world</li>
          <li>become more culturally aware, through the development of a second language</li>
          <li>become more culturally aware, through the development of a second language</li>
          <li>be able to engage with people in an increasingly globalized, rapidly changing world.</li>
        </ul>
        <p> IB World School students develop strong academic, social and emotional characteristics. They are also likely to perform well academically – often better than students on other programmes.</p>
      </div>
      <div>
          <h2>Benefits for teachers</h2>
          <p>The International Baccalaureate® (IB) offers many benefits to teachers.<br>IB teachers are given access to: </p>
          <ul>
            <li>high quality professional development that encourages critical thinking, self-reflection and dedication to lifelong learning and continuous improvement</li>
            <li>innovative and diverse education frameworks, unit planners, teaching resources and evaluation tools</li>
            <li>certification and degree programmes offered by highly respected universities worldwide</li>
            <li>a pedagogy known to produce students who are motivated to continue inquiry and lifelong learning, beyond school study.</li>
          </ul>
          <p>The IB sees teachers as essential to the success of the school and as part of a professional learning community. To support them, we offer extensive professional development (PD), including:</p>
          <ul>
            <li>face-to-face workshops, in-school and at regional events</li>
            <li>online workshops</li>
            <li>blended learning.</li>
          </ul>
        </div>
        <div>
          <h2>Why the IB is different</h2>
          <p>International Baccalaureate® (IB) programmes aim to do more than other curricula by developing inquiring, knowledgeable and caring young people who are motivated to succeed. <br>We strive to develop students who will build a better world through intercultural understanding and respect. <br>IB programme frameworks can operate effectively with national curricula at all ages; more than 50% of IB World Schools are state-funded. <br>The IB's programmes are different from other curricula because they:</p>
          <ul>
            <li> encourage students of all ages to think critically and challenge assumptions</li>
            <li>  develop independently of government and national systems, incorporating quality practice from research and our global community of schools</li>
            <li>encourage students of all ages to consider both local and global contexts</li>
            <li> develop multilingual students.</li>
          </ul>

        </div>




<div>
        <h2>El IB como currículo a nivel nacional o de distrito</h2>
        <p>Para ampliar el acceso a la educación del Bachillerato Internacional® (IB) e impartir sus programas a una red de alumnos lo más extensa posible, el IB trabaja en estrecha colaboración con los sistemas educativos a nivel de distrito, regional y nacional. </p>
        <p>Si se propone implementar los programas del IB a nivel de distrito, regional o nacional, póngase en contacto con el equipo de reconocimiento.</p>
        <h2>Gobiernos que trabajan con el IB</h2>
        <p>Varios países han formalizado acuerdos con el IB; algunos de estos se han suscrito con gobiernos nacionales y otros, con organismos locales. <br> El IB tiene acuerdos de ambos tipos en países como:</p>
        <ul>
          <li>Canadá</li>
          <li>Estados Unidos</li>
          <li>España</li>
          <li>Malasia</li>
          <li>Japón</li>
        </ul>
        <p>Los organismos a nivel de distrito, regional o nacional pueden trabajar con el IB para reconocer los programas del IB como parte de sus currículos. <br> La implementación del acceso a los programas del IB puede ofrecer las siguientes ventajas:</p>
        <ul>
          <li>Acceso a varias opciones creativas para educar a sus alumnos</li>
          <li>Reconocimiento del IB como líder internacional en educación
          Acceso a expertos en materia de reconocimiento del IB y oportunidades de desarrollo profesional</li>
          <li> La oportunidad de establecer relaciones con otros países que reconocen el IB</li>
        </ul>
        <p>El IB anima a los gobiernos y las universidades a definir políticas donde se especifique cómo la educación del IB se relaciona con el sistema educativo nacional y se considera en materia de admisión, créditos o equivalencias y adjudicación de plazas en universidades e instituciones de educación superior.</p>
      </div>


