<%= render 'shared/main_navbar' %>


<div class="video-container">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dw7ox75dg/video/upload/v1584741462/ib_fondo.mp4" type="video/mp4">
    </video>
    <div class="video-title">
      <h1>INTERNATIONAL BACCALAUREATE</h1>
    </div>
  </div>
  <div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consequatur, cum soluta ad ut deleniti consequuntur? Assumenda itaque mollitia cumque tenetur natus ullam nulla, laboriosam corporis, magnam eaque aperiam perferendis.
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nesciunt quia ea, velit voluptatem alias illo maiores quisquam quae eos incidunt nobis, iure tempora quos ut? Libero id voluptates, hic.</div>
    <div>Cumque quas, expedita obcaecati veritatis voluptate, eligendi explicabo deleniti necessitatibus doloremque id magni fugiat inventore ducimus totam pariatur dolorum quia temporibus esse nobis tenetur non, ex et ut officia. Corporis?</div>
    <div>Ipsa, asperiores, minus voluptatum deserunt, adipisci deleniti amet aspernatur, voluptatibus obcaecati culpa repudiandae facere aut voluptates nam ut nisi. Eum eos, vero, architecto molestias ipsam sit odio veritatis totam voluptatum.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae fugit eveniet nemo ullam, minus obcaecati, ipsam esse, perferendis vitae ipsum fuga, velit libero nobis? Amet quae hic vero eaque.</div>
    <div>Qui id alias, dignissimos, recusandae tempora aliquid quaerat beatae doloribus nulla veritatis! Explicabo suscipit, eos cum deleniti cupiditate officia at voluptatibus velit commodi sunt laudantium animi, mollitia atque quae nulla.</div>
    <div>Consequuntur quam nesciunt optio accusantium, maxime, est nam voluptatem. Esse quisquam deserunt labore voluptate porro nobis cum et nulla temporibus, earum vero voluptas quae sequi sint consectetur, cumque distinctio mollitia.</div>
    <div>Ducimus, aut. Accusamus ad, sit facere eius culpa, ea voluptatem laborum tempore maiores magnam nulla eveniet labore corrupti adipisci, eum consequatur quaerat aut! Totam quas nisi harum ratione delectus porro.</div>
    <div>Rerum quod provident veniam, laboriosam, sit soluta similique ratione dolores dolore autem ipsum assumenda, debitis fuga velit culpa eaque eum quo vitae saepe et dicta aut, facilis non animi. Iusto.</div>
  </div>
