<%= render 'shared/main_navbar' %>
<div class="container pt-5">
  <h2 class="mt-5 pt-5 pb-5 text-center">Niveles Educacionales</h2>
  <section id="inicial">
    <div class="oferta-academica-card mb-5">
      <%= render 'inicial_carousel' %>
      <div class="ml-lg-3">
        <h3>NIVEL INICIAL (3 a 5 años)</h3>
        <p>En un ambiente cálido, alegre y respetuoso de las singularidades y procesos madurativos de cada niño y niña, brindamos un espacio óptimo de aprendizaje y desarrollo a través del juego, el movimiento, la música, las experiencias significativas. Como lo marca el propio origen de nuestro colegio, enseñamos el idioma inglés desde sala de 3 años con el objetivo de que los alumnos puedan, a futuro, incorporar la lengua inglesa como nativa. A partir de jardín de 5 años y en preparación para el nivel siguiente, la jornada escolar es prolongada todos los días a excepción de los miércoles donde tienen media jornada a modo de descanso.</p>
      </div>
    </div>
  </section>
  <section id="primario">
    <div class="oferta-academica-card mb-5">
      <%= render 'primario_carousel' %>
      <div class="ml-lg-3">
        <h3>NIVEL PRIMARIO (6 a 11 años)</h3>
        <p>Ofrecemos a nuestros alumnos experiencias de aprendizaje significativas a través del trabajo conjunto desde diferentes áreas y disciplinas. Formamos alumnos activos y respetuosos de su entorno capaces de comprender situaciones y problemáticas desde diversas perspectivas. </p>
      </div>
    </div>
  </section>
  <section id="secundario">
    <div class="oferta-academica-card mb-5">
      <%= render 'secundario_carousel' %>
      <div class="ml-lg-3">
        <h3>NIVEL SECUNDARIO ( 3 a 5 años)</h3>
        <p>En un ambiente cálido, alegre y respetuoso de las singularidades y procesos madurativos de cada niño y niña, brindamos un espacio óptimo de aprendizaje y desarrollo a través del juego, el movimiento, la música, las experiencias significativas. Como lo marca el propio origen de nuestro colegio, enseñamos el idioma inglés desde sala de 3 años con el objetivo de que los alumnos puedan, a futuro, incorporar la lengua inglesa como nativa. A partir de jardín de 5 años y en preparación para el nivel siguiente, la jornada escolar es prolongada todos los días a excepción de los miércoles donde tienen media jornada a modo de descanso.</p>
      </div>
    </div>
  </section>
</div>
