<%= render 'shared/navbar' %>
<div class="container pt-5 pb-5">
  <div class="bg-white p-5 mt-5 mb-5">
    <h2 class="font-weight-bold text-center">Crear Documento</h2>
    <%= render 'form' %>
  </div>
</div>
