.show-event-container {
  width: 70%;
  margin: 0px auto;
  margin-top: 100px;
}
.show-event-img {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.show-event-content {
  box-shadow: 1px 1px 10px grey;

  h2 {
    padding: 20px;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
    color: $green;
    text-align: center;
  }
  h3 {
    padding: 0px 20px;
    padding-bottom: 30px;
    color: grey;
    font-size: 18px;
  }
}
.show-event-time {
  background-color: white;
  padding: 20px;
  p {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
  }
  h4 {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
  }
}
.event-footer {
  margin: 20px auto;
  padding-bottom: 50px;
  border-bottom: 1px solid grey;
  h2 {
   font-size: 30px;
   font-weight: bold;
 }
 h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  margin-bottom: 20px;
}
}

@media(max-width: 686px) {
  .show-event-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
}
