<div class="ib-container">
  <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1585233948/IMG_3040.jpg" alt="">
  <h2>Qué diferencia al IB</h2>
  <p>El Bachillerato Internacional®: una opción singular para ayudar a los alumnos a desarrollarse y a alcanzar sus metas. <br>El Bachillerato Internacional® (IB) tiene como fin ofrecer mejores oportunidades que otros programas para formar jóvenes solidarios, informados y ávidos de conocimiento, que se sientan motivados para alcanzar sus metas. Esperamos que nuestros alumnos contribuyan a construir un mundo mejor mediante el entendimiento mutuo y el respeto intercultural. <br>Más del 50% de los Colegios del Mundo del IB son colegios públicos.<br>El IB se distingue de otros programas debido a que:</p>
  <ul>
    <li>Anima a los alumnos a pensar de forma crítica y a cuestionar lo que se les dice</li>
    <li>Estimula a los alumnos a examinar tanto el entorno local como el internacional</li>
    <li>Mantiene su independencia con respecto a los gobiernos y a los sistemas educativos nacionales, lo que le permite adoptar las mejores prácticas procedentes de una amplia variedad de marcos educativos y currículos de distintos países</li>
  </ul>
</div>
