<div class="ib-container">
  <img src="https://images.unsplash.com/photo-1565963479542-3cf82a9ee7e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1843&q=80" alt="">
  <h2>Ventaja para los colegios</h2>
  <p>El Bachillerato Internacional® (IB) ofrece importantes ventajas a los colegios.<br>Los Colegios del Mundo del IB, accederán a: </p>
  <ul>
    <li>Programas educativos de gran calidad que apoyan la formación de alumnos informados y ávidos de conocimiento</li>
    <li>Actividades de desarrollo profesional que permiten contar con educadores idóneos y comunidades profesionales de aprendizaje colaborativas</li>
    <li>Una red mundial de Colegios del Mundo del IB que gozan de gran prestigio y trabajan conjuntamente para compartir sus mejores prácticas</li>
  </ul>
  <p>Estudios indican que los graduados del Programa del Diploma (PD) concluyen sus estudios universitarios antes que sus compañeros, se sienten más preparados para realizar trabajos universitarios que requieran investigación, y pueden soportar mejor las cargas de trabajo exigentes y los desafíos que plantea la gestión del tiempo.</p>
  <p>Mediante nuestros programas educativos, los colegios pueden:</p>
  <ul>
    <li>Estimular a los alumnos para hacer preguntas, perseguir sus aspiraciones personales, marcarse objetivos estimulantes y desarrollar la perseverancia necesaria para lograrlos</li>
    <li>Ayudar a los alumnos a emitir juicios bien fundamentados, razonados y éticos, y a desarrollar la flexibilidad, perseverancia y confianza que necesitan para lograr cambios significativos en el mundo</li>
    <li>Animar a los alumnos a desarrollar y enriquecer sus identidades personales y culturales</li>
  </ul>
  <p>Estos valores se reflejan en los atributos del perfil de la comunidad de aprendizaje del IB.</p>
</div>
