<div class="ib-container">
  <h2>Ventajas del IB para los alumnos</h2>
  <p>Los alumnos de los Colegios del Mundo del IB reciben una educación excepcional en la que:</p>
  <ul>
    <li>Se les anima a pensar de forma independiente y conducir su propio aprendizaje</li>
    <li>Cursan programas educativos que pueden ayudarlos a ingresar en algunas de las universidades más prestigiosas del mundo</li>
    <li>Se vuelven más conscientes de las diferencias culturales mediante el aprendizaje de una segunda lengua</li>
    <li>Pueden relacionarse con los demás en un mundo cada vez más globalizado y que cambia rápidamente</li>
  </ul>
  <p>Una de las fortalezas de todos los programas del IB es que animan a los alumnos a convertirse en personas capaces de aprender de forma independiente.</p>
</div>
