<div class="ib-container">
  <img src="https://images.unsplash.com/photo-1584277261846-c6a1672ed979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2031&q=80" alt="">
  <h2>Ventajas para los docentes</h2>
  <p>El Bachillerato Internacional® (IB) ofrece numerosos beneficios a los docentes, pues les permite acceder a:</p>
  <ul>
    <li> Actividades de desarrollo profesional de gran calidad que fomentan el pensamiento crítico, la reflexión personal y una cultura de aprendizaje durante toda la vida y de mejora continua</li>
    <li>Marcos educativos, planificadores de unidades, recursos pedagógicos y herramientas de evaluación innovadores y diversos
    Programas para la obtención de titulaciones y certificados ofrecidos por universidades de gran prestigio de todo el mundo</li>
    <li>Una pedagogía que goza de reconocimiento por formar alumnos cuya motivación sea continuar indagando y aprendiendo durante toda su vida, incluso después de concluir sus estudios en el colegio</li>
  </ul>
  <p>Para el IB, los docentes son fundamentales para el éxito de los colegios y los considera integrantes de una comunidad profesional de aprendizaje. A fin de brindarles apoyo, ofrecemos una gran variedad de actividades de desarrollo profesional, como por ejemplo:</p>
  <ul>
    <li>Talleres de capacitación presenciales, tanto en los colegios como en eventos regionales</li>
    <li>Talleres de capacitación en línea
    Aprendizaje combinado</li>
  </ul>
</div>
