<div class="article-card">
  <%= link_to article_path(article) do %>
    <%= cl_image_tag(article.photo.key, :quality=>'auto') %>
    <div class="article-content">
      <p class="pt-2"><%= article.division.title.capitalize %></p>
      <h3 class="pb-3"><%= article.title %></h3>
    </div>
  <% end %>
</div>
