 .alert {
  position: fixed;
  left: 50%;
  top: 90px;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 1000;
  width: 80%;
  padding: 10px;
  background-color: rgba(11, 156, 49, 0.7);
  color: white;
  font-weight: bold;
  border-color: rgba(11, 156, 49, 0.7);
}
.close {
  position: absolute;
  top: 0;
  right: 4px;
  color: white;
  padding: 20px;
}
@media(max-width: 600px) {
  .alert {
  top: 110px;
   font-size: 13px;
   padding: 18px;
}
}
