.carousel-inner img {
  height: 140px !important;
  width: auto !important;
}


.banner {
  background-size: cover;
  background-position: center;
  height:  calc(100vh - 124px);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.banner-login {
 height: 30vh;
 background-size: cover;
 background-position: center;
 margin-top: 78px;

}

.banner-container {
  text-align: center;
  img {
    height: 140px;
  }
  h1 {
    color: white;
    font-size: 64px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 0px;
  }
  p {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.banner-ib {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.banner-container-ib {
  text-align: center;
  img {
    height: 200px;
    margin-bottom: 30px;
  }
  p {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.categories-banner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-top: 75px;
  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
}

.banner-about {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 6px;
  margin-bottom: 20px;

}

.banner-about h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

@media(max-width: 686px){
  .banner {
    height:  calc(100vh - 122px);
  }

  .banner-container {
    text-align: center;
    img {
      height: 100px !important;
      margin-bottom: 6px;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 0px;
    }

    p {
      font-size: 25px;
    }
  }

  .carousel-inner img {
    height: 100px !important;
    margin-bottom: 6px;
    width: auto !important;
  }

  .banner-ib {
    padding: 100px 0;
  }
  .banner-container-ib {
    img {
      height: 180px;
      margin-bottom: 20px;
    }
    p {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }

  .categories-banner {
    height: 30vh;
    h2 {
      font-size: 25px;
    }
  }
}

@media(max-width: 323px) {

  .banner-container {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 14px;
    }
  }

  .banner-container-ib {
    p {
      font-size: 20px;
    }
  }

}
