//home buttons
.btn-article {
  padding: 15px 80px;
  background-color:  #115f2e;
  color: white;
  font-weight: bold;
  margin: 20px 0px;
  border: 2px solid $red;
  &:hover {
    text-decoration: none;
    background-color: darkgreen;
    color:grey;
  }
}
@media(max-width: 686px) {
  .btn-article {
    padding: 10px 25px;
  }
}


.btn-ib {
  padding: 15px 100px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin: 20px 0px;
  border: 2px solid white;
  &:hover {
    text-decoration: none;
    color: lightgrey;
    border-color: lightgrey;
  }
}


@media(max-width: 323px) {

  .btn-ib {
    padding: 10px 70px;
  }

}
