//home buttons
.btn-article {
  padding: 12px 40px;
  background-color: $green;
  color: white;
  font-weight: bold;
  margin: 20px 0px;
  border: 2px solid $red;
  border-radius: 8px;
  &:hover {
    text-decoration: none;
    color:grey;
  }
}
#btn-document {
  width: 224px;
  padding: 10px 20px;
  background-color: $green;

  a {
    color: white;
    font-weight: bold;
  }
}

.btn-ib {
  padding: 15px 100px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin: 20px 0px;
  border: 2px solid white;
  &:hover {
    text-decoration: none;
    color: lightgrey;
    border-color: lightgrey;
  }
}

.btn-green {
  background-color: $green;
  color: white;
  &:hover {
    color: grey;
  }
}

@media(max-width: 686px) {
  .btn-article {
    padding: 10px 25px;
  }

  #btn-document {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
  }
}

@media(max-width: 323px) {

  .btn-ib {
    padding: 10px 70px;
  }

}
