#sponsors {
  img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-right: 24px;
  }
}

.carousel-inner {
  img {
    height: 80vh;
    object-fit: cover;
  }
}

.modal-content {
  background-color: rgba(250, 250, 250, 0.8);
}

.carousel-inner {
  text-align: center;
}

@media(max-width: 1030px) {
  .carousel-inner {
    img {
      width: 100%;
      height: 80vh;
      object-fit: cover;
    }
  }
  .carousel-inner {
  }
}

@media(max-width: 686px) {
  .carousel-inner {
    img {
      width: 100%;
      height: 50vh;

    }
  }
}
