//find it in shared/cards.html.erb
.card-article {
  background-color: white;
  box-shadow: 0px 0px 6px lightgrey;
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  h2 {
    padding: 0 6px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
  }
  h4 {
    text-align: left ;
    padding: 0 6px;
    margin-bottom: 2px;
    font-size: 18px;
    margin-top: 10px;
    color: green;
  }
  &:hover {
    text-decoration: none;
    color: blue;
    box-shadow: 0px 0px 6px grey;
    h2 {
      color: blue;
    }
  }
}
//find it in shared/main-cards.html.erb
.main-card-article {
  height: 400px;
  a {
    &:hover {
    text-decoration: none;
  }
  }
}
.main-card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  height: 100%;

}

.main-card-content {
  padding: 20px 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  h4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
}

//find it in shared/main-cards and shared/second-card
.main-card-article-2 {
  background-color: white;
  box-shadow: 0px 0px 6px lightgrey;
  display: none;
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    padding: 0 6px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
  }
  h4 {
    text-align: left ;
    padding: 0 6px;
    margin-bottom: 2px;
    font-size: 18px;
    margin-top: 10px;
    color: green;
  }
  &:hover {
    text-decoration: none;
    color: blue;
    box-shadow: 0px 0px 6px grey;
    h2 {
      color: blue;
    }
  }
}
//find it in second-card.html.erb
.second-card-article-3 {
  background-color: white;
  box-shadow: 0px 0px 6px lightgrey;
  height: 400px;
  a {
    text-decoration: none;
  }
  img {
    min-height: 70%;
    max-width: 100%;
    object-fit: cover;
  }
  h2 {
    padding: 0 6px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
  }
  h4 {
    text-align: left ;
    padding: 0 6px;
    margin-bottom: 2px;
    font-size: 18px;
    margin-top: 10px;
    color: green;
  }
  &:hover {
    text-decoration: none;
    color: blue;
    box-shadow: 0px 0px 6px grey;
    h2 {
      color: blue;
    }
  }
}
//responsiveness
@media(max-width: 1000px) {
  .main-card-article {
    height: 250px;
  }

  .main-card-content {

  h4 {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  h2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
}
  .card-article {
  img {
    width: 100%;
    object-fit: cover;
  }
  h2 {
    font-size: 15px;
  }
  h4 {
    font-size: 16px;
  }

}
  .second-card-article-3 {
    height: 250px;
    img {
      height: 50%;
    }
    h2 {
      font-size: 15px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

@media(max-width: 600px) {
  .main-card-article {
    display: none;
  }

  .main-card-article-2 {
    display: block;
  }

  .second-card-article-3 {
   display: none;
  }

  .card-article {
    padding: 20px;
    img{
      display: none;
    }
  }


}
