.card-article {
  background-color: white;
  box-shadow: 0px 0px 6px lightgrey;
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    object-fit: cover;
  }

  h2 {
    padding: 0 6px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
