.event-container-home {
 width: 90%;
 margin: 0 auto;
 padding: 30px 8px;
 background-color: white;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
}

.main-wrapper-event {
  display: inline-block;
  box-shadow: 0px 0px 10px grey;
  width: 220px;
  margin-right: 24px;
  &:hover {
    box-shadow: 0px 0px 10px black;
  }
  a {
    text-decoration: none;
  }
}

.main-event-img {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.main-event-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.event-card-footer {
  padding: 10px 8px;

  p {
    font-size: 14px;
    color: $green;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 8px;
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  h4 {
    color: black;
    font-size: 13px;
    padding-bottom: 10px;
  }
}
.date-box {
  position: absolute;
  left: 10px;
  top: -30px;
  background-color: white;
  padding:  4px 16px;
  text-align: center;
  box-shadow: 0px 0px 6px grey;
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
}
