.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.7);
  margin-top: 120px;
  h3 {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
  }
  p {
    margin-bottom: 0px;
    font-size: 18px;
    color: white;
  }
}
.footer-content {
  margin-bottom: 10px;
  a {
    color: white;
    font-size: 14px;
  }
  p {
    margin-bottom: 0px;
  }
}


