.footer {
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 10px lightgrey;
  h3 {
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(74, 73, 74);
  }
  p {
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 18px;
    color: rgb(74, 73, 74);
  }
}
.footer-content {
  margin-bottom: 10px;
  a {
    color: rgb(74, 73, 74);
    font-size: 14px;
  }
}

@media(max-width: 686px){
  .footer {
    h3 {
      font-size: 10px;
    }
    p {
      margin-right: 6px;
      font-size: 10px;
    }
  }
  .footer-content {
    a {
      font-size: 10px;
    }
  }
}
