//log in forms
.login-wrapper {
  width: 100%;
  background-color: white;
  height: 90vh;
}
.login-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  h2 {
    font-size: 22px;
  }
  p {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
  }
}
//line in the middel effect
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  font-size: 22px;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: black;
    background-color: white;
  }
}
//remember part of the login form
.remember {
  font-size: 12px;
  a {
    margin-left: 100px;
    color: black;
    text-decoration: underline;
    &:hover {
      color: grey;
    }
  }
}
.login-navbar {
  padding: 20px;
  background-color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 10px lightgrey;
  img {
    height: 50px;
  }
}

//contacts forms
.form-container {
  margin-top: 90px;
  width: 650px;
  margin-bottom: 200px;
  p {
    color: #333333;
    font-size: 14px;
    margin-bottom: 40px;
  }
  h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
  }
  h3 {
    color: #333333;
    font-size: 14px;
    margin-bottom: 2px
  }
  h4 {
    color: #666;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 40px;
  }
}
.hidden {
  display: none;
}
@media(max-width: 800px) {
  .form-container {
    width: 500px;
  }
}
@media(max-width: 686px) {
  .form-container {
    width: 100%;
    margin-bottom: 80px;
  }
  .login-container {
    width: 100%;
    margin: 30px auto;
  }
  .remember {
    a {
      margin-left: 80px;
    }
  }
}

@media(max-width: 330px){
  .remember {
    a {
      margin-left: 40px;
    }
  }
}
