//hover effects in shared/social.html.erb
#social {
  .banner-social {
    background-size: cover;
    background-position: center;
    height: 70vh;
  }

  h2 {
    color: white;
  }

  a {
    color: white;
    font-size: 48px;
    margin-right: 24px;
    margin-left: 24px;
    &:hover {
      color: $green;
    }
  }
}

@media(max-width: 678px) {
  #social {
    .banner-social {
      height: 50vh;
    }
    a {
      font-size: 40px;
      margin-right: 16px;
      margin-left: 16px;
    }
  }

}
