//top bar of the homepage
.top-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  background-color: $green;
  a {
    text-decoration: none;
    margin-bottom: 0px;
  }
}

.links-top  {
  padding: 0 16px;
  i {
    margin: 0px;
    color: white;
    font-size: 26px;
    margin-left: 10px;
  }
}

.btn-top {
 padding: 5px 10px;
 border: 1px solid white;
 color: white;
 font-size: 13px;
 &:hover {
  text-decoration: none;
  color: lightgrey;

 }
}
//main navbar for all the pages but home.html.erb
.navbar-main {
  justify-content: space-between;
  background-color: white;
  font-weight: bold;
  color: red;
  font-size: 20px;
  border-bottom: 3px solid darkgreen;
  .nav-link {
    font-size: 17px;
    color: rgb(74, 73, 74);
    font-weight: normal;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $red;
    }
  }
}
.navbar-main .navbar-collapse {
  flex-grow: 0;
}
.navbar-main .navbar-brand img {
  width: 200px;
}
//navbar for the homepage
.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  font-weight: bold;
  color: red;
  font-size: 20px;
  border-bottom: 3px solid darkgreen;
  position: sticky;
  top: 0px;
  .nav-link {
    font-size: 17px;
    color: rgb(74, 73, 74);
    font-weight: normal;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $red;
    }
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 200px;
}
.navbar-lewagon-white {
  background-color: white;
  border-bottom: 3px solid green;
  .nav-link {
    color: rgb(74, 73, 74);
    border-bottom: 2px solid transparent;
    &:hover {
      color: red;
      border-bottom: 2px solid red;
    }
  }
}
@media(max-width: 700px) {
  .links-top  {
    padding: 0px;
    i {
      margin-left: 10px;
    }
  }
}
