<%= render 'shared/navbar' %>
<div class="container pt-5 pb-5">
  <div class="bg-white p-5 mt-5 mb-5">
    <h2 class="h3 py-3">Crear Categoria (notificaciones)</h2>
    <%= render 'form' %>
  </div>
</div>
