//parts in common
.user-wrapper {
  margin-top: 76px;
  h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px;
    background-color: $green;
    color: white;
    text-align: center;
  }
}

.title-green {
  border-bottom: 2px solid lightgrey;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  padding: 15px;
  padding-left: 50px;
  color: $green;
  background-color: white;
  margin-bottom: 0px;
}
.log-out {
  background-color: white;
  padding: 0px 10px;
  border-bottom: 2px solid lightgrey;
  p {
    margin-bottom: 0px;
  }
  a {
   color: darkgreen;
 }
}
.user-avatar {
  font-size: 30px;
  text-align:center;
  padding: 5px 15px;
  padding-top: 20px;
  padding-left: 10px;
  color: $green;
  background-color: white;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px lightgrey;
    margin-bottom: 10px;
    background-color: white;
  }
  h2 {
    color: grey;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 10px;
  }
}

.map {

  border-top: 1px solid lightgrey;
  width: 80%;
  margin: 50px auto;
  p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid lightgrey;

  }
  a {
    color: $green;
  }
}

.map-title {
  border-top: 2px solid lightgrey;
 border-bottom: 2px solid lightgrey;
 font-size: 24px;
 text-align: left;
 font-weight: bold;
 padding: 15px;
 color: $green;
 background-color: white;
 margin-bottom: 0px;
 text-align: center;
}
//admin part
.admin-container {
  width: 90%;
  margin: 50px auto;
}

@media(max-width: 680px){

  .user-wrapper {
    h1 {
      font-size: 24px;
    }
  }

  .user-avatar {
    img {
      width: 50px;
      height: 50px;
    }
    h2 {
      color: grey;
      font-size: 16px;
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }
  .title-green {
    font-size: 18px;

    padding: 15px;
    padding-left: 10px;

  }
}
